<% if @user %>
  <div class="list">
    <h3>List of your checkins</h3>
    <ul class="friends">
      <% @checkins.each do |checkin| %>
        <li>
          <pre><%= checkin %></pre>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>