<div id="footprint_map_container">
  <div id='map3d' style='border: 1px solid silver; height: 500px;'></div>
</div>

<div id="timeline-embed"></div>
<script type="text/javascript">
    var timeline_config = {
        width:              "100%",
        height:             "600",
        source:             '/checkin_timeline.json',
        // start_at_end:       false,                          //OPTIONAL START AT LATEST DATE
        // start_at_slide:     '4',                            //OPTIONAL START AT SPECIFIC SLIDE
        // start_zoom_adjust:  '3',                            //OPTIONAL TWEAK THE DEFAULT ZOOM LEVEL
        // hash_bookmark:      true,                           //OPTIONAL LOCATION BAR HASHES
        css:                '/stylesheets/timeline.css',     //OPTIONAL PATH TO CSS
        js:                 '/javascripts/footprint_timeline.js'    //OPTIONAL PATH TO JS
    }
</script>
<script type="text/javascript" src="/javascripts/timeline-embed.js"></script>