<div id="footprint_map_container">
  <input type="hidden" id="maxLon" value="<%= @lons.max %>" />
  <input type="hidden" id="minLon" value="<%= @lons.min %>" />
  <input type="hidden" id="maxLat" value="<%= @lats.max %>" />
  <input type="hidden" id="minLat" value="<%= @lats.min %>" />
  <div id="map_canvas"></div>
</div>